html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    background-color: var(--primary-white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
